body {
  font-family: Arial;
  text-align: center;
  background-color: pink;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: white;
  background: #333;
  padding: 10px;
  border-radius: 5px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

button {
  background: #ff6600;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}